<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
    <tr class="info">
      <th>Title</th>
      <th>Notes</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @todo.title %></td>
      <td><%= @todo.notes %></td>
    </tr>
  </tbody>
</table>

<%= link_to edit_todo_path(@todo), class: "btn btn-default" do %>
  <i class="glyphicon glyphicon-pencil"></i> Edit
<% end %>
<%= link_to 'Back to List', todos_path, class: "btn btn-default spaces" %>